In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ["EIN","NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [8]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Determine which values to replace if counts are less than ...?
#  YOUR CODE GOES HERE
replace_application = list(application_type_counts[application_type_counts < 1000].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
       
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1728        1
C1570        1
C4120        1
C2561        1
C2380        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# Determine which values to replace if counts are less than ..?
#  YOUR CODE GOES HERE
replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Generate our categorical variable lists
#  YOUR CODE GOES HERE
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
#  YOUR CODE GOES HERE
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
#  YOUR CODE GOES HERE
application_df = application_df.merge(encode_df,left_index=True,right_index=True).drop(application_cat,1)

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.loc[:, application_df.columns != 'IS_SUCCESSFUL']
y = application_df.IS_SUCCESSFUL

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_inputs= len(X_train_scaled[0])
hidden_nodes_1 = 500
hidden_nodes_2 = 100
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim=number_inputs, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation='relu'))

# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=10, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 500)               20500
_________________________________________________________________
dense_1 (Dense)              (None, 100)               50100
_________________________________________________________________
dense_2 (Dense)              (None, 10)                1010
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 71,621
Trainable params: 71,621
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}hdf5"

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [20]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5708 - accuracy: 0.7243
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7315
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7321
Epoch 5/50
792/804 [============================>.] - ETA: 0s - loss: 0.5532 - accuracy: 0.7329
Epoch 00005: saving model to checkpoints\weights.05hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7327
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7334
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7347
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7345
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7356
Epoch 10/50
786/804 [============================>.] - ETA: 0s - loss: 0.5495 - accuracy: 0.7352
Epoch 00010: saving model to checkpoints\weights.10hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7354: 0s - loss:
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7363
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7363
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7370
Epoch 15/50
793/804 [============================>.] - ETA: 0s - loss: 0.5472 - accuracy: 0.7370
Epoch 00015: saving model to checkpoints\weights.15hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7371
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7366
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7364
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7359: 0s - loss: 0.5
Epoch 20/50
797/804 [============================>.] - ETA: 0s - loss: 0.5462 - accuracy: 0.7363 ETA: 0s - loss: 0.5
Epoch 00020: saving model to checkpoints\weights.20hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7359
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7365
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7363
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7371
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7368
Epoch 25/50
801/804 [============================>.] - ETA: 0s - loss: 0.5454 - accuracy: 0.7370
Epoch 00025: saving model to checkpoints\weights.25hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7369
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7386:
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7376
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7383
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7383
Epoch 30/50
798/804 [============================>.] - ETA: 0s - loss: 0.5440 - accuracy: 0.7378
Epoch 00030: saving model to checkpoints\weights.30hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7379
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7381: 0s - loss: 0.5449 - accu
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7380
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7388
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7389
Epoch 35/50
789/804 [============================>.] - ETA: 0s - loss: 0.5427 - accuracy: 0.7380 ETA:
Epoch 00035: saving model to checkpoints\weights.35hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7385
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7382
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7390
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7390
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7386
Epoch 40/50
792/804 [============================>.] - ETA: 0s - loss: 0.5433 - accuracy: 0.7392
Epoch 00040: saving model to checkpoints\weights.40hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7388
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7390
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7389
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5419 - accuracy: 0.7392
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7389
Epoch 45/50
799/804 [============================>.] - ETA: 0s - loss: 0.5424 - accuracy: 0.7389
Epoch 00045: saving model to checkpoints\weights.45hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7387
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7387
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - accuracy: 0.7393
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7388
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7392
Epoch 50/50
803/804 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7389
Epoch 00050: saving model to checkpoints\weights.50hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7389

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5589 - accuracy: 0.7268
Loss: 0.55892413854599, Accuracy: 0.7267638444900513

In [22]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization1.h5')

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7264
Loss: 0.5560349822044373, Accuracy: 0.7264139652252197

In [38]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization2.h5')

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5599 - accuracy: 0.7255
Loss: 0.5599233508110046, Accuracy: 0.7254810333251953

In [46]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization3.h5')